{% extends 'silkapp/base.html' %}
{% block content %}
{% load static %}
    <title>{{ title }}</title>
    <!--<link rel="stylesheet" href="{% static 'silkapp/style.css' %}"> -->
    <style>
        .r-p-b {
            position: absolute;
            right: 0px;
        }

        .center {
            align-items: center;
            text-align: center;
        }

        .add-comment-form {
            width: 600px;
            height: 100%;
            position: fixed;
            background-color: white;
            border-radius: 12px;
            z-index: 3;
            left: 50%;
            transform: translate(-50%, -50%);
            overflow-y: scroll;
            
        }

        .table-goods {
            position: absolute;
            top: 60px;
            left: 0px;
        }

        .good-info-wrap {
            width: 80%;
            position: absolute;
            top: 80px;
            left: 50%;
            transform: translateX(-50%);
            padding-bottom: 100px;
        }

        .myInputStyle {
            background-image: url('/css/searchicon.png'); /* Add a search icon to input */
            background-position: 10px 12px; /* Position the search icon */
            background-repeat: no-repeat; /* Do not repeat the icon image */
            width: 100%; /* Full-width */
            font-size: 16px; /* Increase font-size */
            padding: 12px 20px 12px 40px; /* Add some padding */
            border: 1px solid #ddd; /* Add a grey border */
            margin-bottom: 12px; /* Add some space below the input */
        }


        #myInput {
            background-image: url('/css/searchicon.png'); /* Add a search icon to input */
            background-position: 10px 12px; /* Position the search icon */
            background-repeat: no-repeat; /* Do not repeat the icon image */
            width: 100%; /* Full-width */
            font-size: 16px; /* Increase font-size */
            padding: 12px 20px 12px 40px; /* Add some padding */
            border: 1px solid #ddd; /* Add a grey border */
            margin-bottom: 12px; /* Add some space below the input */
          }
          
          #myUL {
            /* Remove default list styling */
            list-style-type: none;
            padding: 0;
            margin: 0;
          }
          
          #myUL li a {
            border: 1px solid #ddd; /* Add a border to all links */
            margin-top: -1px; /* Prevent double borders */
            background-color: #f6f6f6; /* Grey background color */
            padding: 12px; /* Add some padding */
            text-decoration: none; /* Remove default text underline */
            font-size: 18px; /* Increase the font-size */
            color: black; /* Add a black text color */
            display: block; /* Make it into a block element to fill the whole list */
          }
          
          #myUL li a:hover:not(.header) {
            background-color: #eee; /* Add a hover effect to all links, except for headers */
          }

        @media screen and (max-width: 900px) {
            .add-comment-form {
                width: 100%;
                height: 100%;
                position: fixed;
                background-color: white;
                border-radius: 12px;
                z-index: 3;
                left: 50%;
                transform: translate(-50%, -50%);
                overflow-y: scroll;
                
            }

            .table-goods {
                position: absolute;
                top: 100px;
                left: 0px;
            }
        }
    </style>
</head>
<body>

    <div class="all">
        <div class="fixed-darker hide" id="fd"></div>

        <div class="add-comment-form hide" id="acf">
        
            <div class="close-btn">
                <button id="close"></button>
            </div>
    
            <div class="good-info-wrap">
                <form action="{% url 'createbid' %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Название заявки</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" name="bidname" placeholder="Название товара" required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Описание заявки</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="biddesc" required></textarea>
                    </div>
    
                    <select type="text" id="myInput" name="bidtype" >
                        <option disabled selected value> -- Категория -- </option>
                        {% for category in categories  %}
                            <option value="{{ category.slug}}">{{ category.title }}</option>
                        {% endfor %}
                    </select>
    
                    <div class="center">
                        <button type="submit" class="btn btn-success r-p-b">Подтвердить</button>
                    </div>
                    
                </form>
            </div>
              
        </div>

        <!--head menu-->
        {% include 'silkapp/head.html' %}
        <!--head menu-->

        <!--left menu-->
        {% include 'silkapp/leftmenu.html' %}
        <!--left menu-->

        <div class="top-panel pt-root" style="margin-top: 25px;">

            <!--right block-->
            <div style="
                position: absolute;
                left: 25px;
                top: 0px;
                width: 60%;">
            <!--Page name-->
                <h1 class="pt-root big" style="
                    margin-bottom: 25px;
                    color: black;
                    font-weight: 600;
                    ">Заказать товар
                </h1>
    
                    <!--my bids-->
                    <button type="button" class="btn btn-primary" id="add-good-btn">Добавить заявку</button>
                    <div class="table-goods" style="margin-top: 50px;">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Название заявки</th>
                                <th scope="col">Текст заявки</th>
                                <th scope="col">Категория заявки</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for b in mybids %}
                            <tr>
                                <th scope="row">{{b.bidname}}</th>
                                <td>{{ b.biddesc }}</td>
                                <td>{{ b.bidtype.title }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
 
    </div>

<script>
    // comment form 
    var fd = document.getElementById("fd");
        var closeBtn = document.getElementById("close");
        var acf = document.getElementById("acf");

        closeBtn.addEventListener("click", () => {
            fd.classList.add("hide");
            acf.classList.add("hide");
        });

        var agb = document.getElementById("add-good-btn");

        agb.addEventListener("click", () => {
            fd.classList.remove("hide");
            acf.classList.remove("hide");
        });
    

</script>
{% endblock content %}