{% extends 'silkapp/base.html' %}
{% block content %}
{% load static %}
    <title>{{ title }}</title>
    <!--<link rel="stylesheet" href="{% static 'silkapp/style.css' %}"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        ::-webkit-scrollbar-track {
            width: 5px;
            background: #f5f5f5;
          }
          
          ::-webkit-scrollbar-thumb {
            width: 1em;
            background-color: #ddd;
            outline: 1px solid slategrey;
            border-radius: 1rem;
          }
          
          .text-small {
            font-size: 0.9rem;
          }
          
          .messages-box,
          .chat-box {
            height: 510px;
            overflow-y: scroll;
          }
          
          .rounded-lg {
            border-radius: 0.5rem;
          }
          
          input::placeholder {
            font-size: 0.9rem;
            color: #999;
          }

          .chat-wrap {
            position: absolute;
            top: 50px;
            left: 0px;
            width: 100%;
            padding-bottom: 400px;
          }

          @media screen and (max-width: 900px) {
              .chat-wrap {
              width: 100%;
              padding-bottom: 0px;
            }
          }

    </style>
</head>
<body>

    <div class="all">
        <!--head menu-->
        {% include 'silkapp/head.html' %}
        <!--head menu-->

        <!--left menu-->
        {% include 'silkapp/leftmenu.html' %}
        <!--left menu-->

        <div class="top-panel pt-root" style="margin-top: 25px;">
          <!--Links
          <div>
              <a href="{% url 'settings' %}" class="nav-link active" aria-current="page">
              Профиль
              <a href="{% url 'notifications' %}" class="nav-link link-dark" aria-current="page">
              Уведомления
              </a>
              <a href="{% url 'goods' %}" class="nav-link link-dark">
              Мои товары
              </a>
              <a href="{% url 'bids' %}" class="nav-link link-dark">
              Мои заявки
              </a>
              <a href="{% url 'chatview' %}" class="nav-link link-dark">
              Чаты
              </a>
          </div>
          -->
          <!--right block-->
          <div style="
              position: absolute;
              left: 25px;
              top: 0px;
              width: 100%;">
          <!--Page name-->
              <h1 class="pt-root big" style="
                  margin-bottom: 25px;
                  color: black;
                  font-weight: 600;
                  ">Чаты
              </h1>
              
              <div class="chat-wrap">
                <div class="row rounded-lg overflow-hidden shadow">
                  <div class="col-5 px-0">
                    <div class="bg-white">
                      <div class="bg-gray px-4 py-2 bg-light">
                        <p class="h5 mb-0 py-1">Recent</p>
                      </div>
    
                      <div class="messages-box">
                        <div class="list-group rounded-0">
                          {% for mc in mychats %}
                          <a href="{% url 'chatuser' mc.friend2.username %}" class="list-group-item list-group-item-action list-group-item-light rounded-0">
                            <div class="media"><img src="https://bootstrapious.com/i/snippets/sn-chat/avatar.svg" alt="user" width="50" class="rounded-circle">
                              <div class="media-body ml-4">
                                <div class="d-flex align-items-center justify-content-between mb-1">
                                  <h6 class="mb-0">{{ mc.friend2.username }}</h6><small class="small font-weight-bold"></small>
                                </div>
                              </div>
                            </div>
                          </a>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-7 px-0">
                    <div class="px-4 py-5 chat-box bg-white">
            
                    </div>
                  </div>
                </div>
              </div>
              
              </div>
          </div>
      </div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
{% endblock content %}