{% extends 'silkapp/base.html' %}
{% block content %}
{% load static %}
    <title>{{ title }}</title>
    <!--<link rel="stylesheet" href="{% static 'silkapp/style.css' %}"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        ::-webkit-scrollbar-track {
            width: 5px;
            background: #f5f5f5;
          }
          
          ::-webkit-scrollbar-thumb {
            width: 1em;
            background-color: #ddd;
            outline: 1px solid slategrey;
            border-radius: 1rem;
          }
          
          .text-small {
            font-size: 0.9rem;
          }
          
          .messages-box,
          .chat-box {
            height: 510px;
            overflow-y: scroll;
          }
          
          .rounded-lg {
            border-radius: 0.5rem;
          }
          
          input::placeholder {
            font-size: 0.9rem;
            color: #999;
          }

          .chat-wrap {
            position: absolute;
            top: 50px;
            left: 350px;
            width: 800px;
            padding-bottom: 400px;
          }

          @media screen and (max-width: 900px) {
              .chat-wrap {
              position: absolute;
              top: 300px;
              left: 0px;
              width: 90%;
              padding-bottom: 200px;
            }
          }

    </style>
</head>
<body>

    <div class="all">
        <!--head menu-->
        {% include 'silkapp/head.html' %}
        <!--head menu-->

        <div class="fat-panel">
        
            <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
                <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="{% url 'settings' %}" class="nav-link link-dark" aria-current="page">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                    Профиль
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'notifications' %}" class="nav-link link-dark" aria-current="page">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                    Уведомления <div class="red-circle"></div>
                    </a>
                </li>
                {% if user.first_name == '1' %}
                <li>
                    <a href="{% url 'goods' %}" class="nav-link link-dark">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                    Мои товары
                    </a>
                </li>
                {% endif %}
                {% if user.first_name == '0' %}
                <li>
                    <a href="{% url 'bids' %}" class="nav-link link-dark">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                    Мои заявки
                    </a>
                </li>
                {% endif %}
                <li>
                    <a href="{% url 'chatview' %}" class="nav-link active">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                    Чаты <div class="red-circle"></div>
                    </a>
                </li>
                </ul>
            </div>
            
            <div class="chat-wrap">
                  
                    <div class="row rounded-lg overflow-hidden shadow">
                      <!-- Users box-->
                      <div class="col-5 px-0">
                        <div class="bg-white">
                  
                          <div class="bg-gray px-4 py-2 bg-light">
                            <p class="h5 mb-0 py-1">Recent</p>
                          </div>
                  
                          <div class="messages-box">
                            <div class="list-group rounded-0">
                            {% for mc in mychats %}
                              <a href="{% url 'chatuser' mc.friend2.username %}" class="list-group-item list-group-item-action list-group-item-light rounded-0">
                                <div class="media"><img src="https://bootstrapious.com/i/snippets/sn-chat/avatar.svg" alt="user" width="50" class="rounded-circle">
                                  <div class="media-body ml-4">
                                    <div class="d-flex align-items-center justify-content-between mb-1">
                                      <h6 class="mb-0">{{ mc.friend2.username }}</h6><small class="small font-weight-bold"></small>
                                    </div>
                                    <p class="font-italic mb-0 text-small">
                                        {% if mc.friend2.first_name == '0' %}
                                            Покупатель
                                        {% endif %}
                                        {% if mc.friend2.first_name == '1' %}
                                            Продавец
                                        {% endif %}
                                    </p>
                                  </div>
                                </div>
                              </a>
                            {% endfor %}
                  
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Chat Box-->
                      <div class="col-7 px-0">
                        <div class="px-4 py-5 chat-box bg-white">
                  
                        </div>
                  
                      </div>
                    </div>
                </div>


        </div>   
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
{% endblock content %}