{% extends 'silkapp/base.html' %}
{% block content %}
{% load static %}
    <title>{{ title }}</title>
    <!--<link rel="stylesheet" href="{% static 'silkapp/style.css' %}"> -->
    <style>
        .r-p-b {
            position: absolute;
            right: 0px;
        }

        .add-comment-form {
            width: 600px;
            height: 100%;
            position: fixed;
            background-color: white;
            border-radius: 12px;
            z-index: 3;
            left: 50%;
            transform: translate(-50%, -50%);
            overflow-y: scroll;
            
        }

        .table-goods {
            position: absolute;
            top: 60px;
            left: 0px;
        }

        .good-info-wrap {
            width: 80%;
            position: absolute;
            top: 80px;
            left: 50%;
            transform: translateX(-50%);
        }

        @media screen and (max-width: 900px) {
            .add-comment-form {
                width: 100%;
                height: 100%;
                position: fixed;
                background-color: white;
                border-radius: 12px;
                z-index: 3;
                left: 50%;
                transform: translate(-50%, -50%);
                overflow-y: scroll;
                
            }

            .table-goods {
                position: absolute;
                top: 100px;
                left: 0px;
            }

            .good-info-wrap {
                width: 70%;
                position: absolute;
                top: 80px;
                left: 50%;
                transform: translateX(-50%);
                padding-bottom: 100px;
            }

            .close-btn {
                right: 10%;
                transform: translateX(-10%);
            }
            
            
        }


        #myInput {
            background-image: url('/css/searchicon.png'); /* Add a search icon to input */
            background-position: 10px 12px; /* Position the search icon */
            background-repeat: no-repeat; /* Do not repeat the icon image */
            width: 100%; /* Full-width */
            font-size: 16px; /* Increase font-size */
            padding: 12px 20px 12px 40px; /* Add some padding */
            border: 1px solid #ddd; /* Add a grey border */
            margin-bottom: 12px; /* Add some space below the input */
          }
          
          #myUL {
            /* Remove default list styling */
            list-style-type: none;
            padding: 0;
            margin: 0;
          }
          
          #myUL li a {
            border: 1px solid #ddd; /* Add a border to all links */
            margin-top: -1px; /* Prevent double borders */
            background-color: #f6f6f6; /* Grey background color */
            padding: 12px; /* Add some padding */
            text-decoration: none; /* Remove default text underline */
            font-size: 18px; /* Increase the font-size */
            color: black; /* Add a black text color */
            display: block; /* Make it into a block element to fill the whole list */
          }
          
          #myUL li a:hover:not(.header) {
            background-color: #eee; /* Add a hover effect to all links, except for headers */
          }
    </style>
</head>
<body>

    <div class="fixed-darker hide" id="fd"></div>

    <div class="add-comment-form hide" id="acf">
        
        <div class="close-btn">
            <button id="close"></button>
        </div>

        <div class="good-info-wrap">
            <form action="{% url 'uploadfile' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Название товара</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="title" placeholder="Название товара" required>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Описание товара</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="desc" required></textarea>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <span class="input-group-text">₸</span>
                    </div>
                    <input type="number" class="form-control" placeholder="Цена товара" name="price" required>
                </div>

                <div class="input-group mb-3">
                    <div class="custom-file">
                    <input type="file" name="image" required multiple
                    title="Загрузите одну или несколько фотографий" id="inputGroupFile02">
                    </div>
                </div>

                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Выберите свою категорию..">

                <ul id="myUL">
                    {% for s in subs %}
                        <li><a href="#"><input type="radio" name="ptype" value="{{ s.slug }}" required>  {{ s.title }}</a></li>
                    {% endfor %}
                </ul>

                <button type="submit" class="btn btn-success r-p-b">Подтвердить</button>
                

                
            </form>
        </div>
          
    </div>

    <div class="all">
        <!--head menu-->
        {% include 'silkapp/head.html' %}
        <!--head menu-->

        <!--left menu-->
        {% include 'silkapp/leftmenu.html' %}
        <!--left menu-->

        <div class="top-panel pt-root" style="margin-top: 25px;">
            <!--Links
            <div>
                <a href="{% url 'settings' %}" class="nav-link active" aria-current="page">
                Профиль
                <a href="{% url 'notifications' %}" class="nav-link link-dark" aria-current="page">
                Уведомления
                </a>
                <a href="{% url 'goods' %}" class="nav-link link-dark">
                Мои товары
                </a>
                <a href="{% url 'bids' %}" class="nav-link link-dark">
                Мои заявки
                </a>
                <a href="{% url 'chatview' %}" class="nav-link link-dark">
                Чаты
                </a>
            </div>
            -->

            <!--right block-->
            <div style="
                position: absolute;
                left: 25px;
                top: 0px;
                width: 60%;">
            <!--Page name-->
                <h1 class="pt-root big" style="
                    margin-bottom: 25px;
                    color: black;
                    font-weight: 600;
                    ">Разместить товар
                </h1>
    
                <button type="button" class="btn btn-primary" id="add-good-btn">Добавить товар</button>
                <div class="table-goods" style="margin-top: 50px;">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Товар</th>
                            <th scope="col">Цена</th>
                            <th scope="col">Ссылка</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for u in ugoods %}
                          <tr>
                            <th scope="row">{{u.title}}</th>
                            <td>{{ u.price }}</td>
                            <td><a href="{% url 'product_overview' u.slug %}">Посмотреть</a></td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                </div>

            </div>
        </div>
    
    </div>

    <script>
        // comment form 
        var fd = document.getElementById("fd");
        var closeBtn = document.getElementById("close");
        var acf = document.getElementById("acf");

        closeBtn.addEventListener("click", () => {
            fd.classList.add("hide");
            acf.classList.add("hide");
        });

        var agb = document.getElementById("add-good-btn");

        agb.addEventListener("click", () => {
            fd.classList.remove("hide");
            acf.classList.remove("hide");
        });

        // tree view

        function myFunction() {
            // Declare variables
            var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById('myInput');
            filter = input.value.toUpperCase();
            ul = document.getElementById("myUL");
            li = ul.getElementsByTagName('li');
          
            // Loop through all list items, and hide those who don't match the search query
            for (i = 0; i < li.length; i++) {
              a = li[i].getElementsByTagName("a")[0];
              txtValue = a.textContent || a.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
              } else {
                li[i].style.display = "none";
              }
            }
        }

    </script>

{% endblock content %}