<div class="left-panel">
    <h2 class="border-around">Каталог</h2>
    <ul id="myUL">
    <!--Main tree-->
    <!--Catalog iter-->
        {% for a, b in all_catalogs %}
          <li><span class="box">{{ a }}</span>
              <ul class="nested">
              <!--Category iter-->
              {% for u in b %}
                <a href="{% url 'category_view' u.slug %}">
                  <li><span>{{ u.title }}</span></li>
                </a>
              {% endfor %}
              </ul>
          </li>
        {% endfor %}
    </ul>
</div>

<div class="left-panel-mobile" id="left-panel-mobile" style="z-index: 998; border-right: 1px solid rgb(204, 203, 203);">
  <div class="closeMobileMenu" id="closeMobile">
    <button type="button" class="btn btn-danger">Закрыть</button>
      {% if not isauth %}
          <button type="button" class="btn btn-success" onclick="window.location='/user/sign'">Войти</button>
      {% endif %}
      {% if user.username %}
          <button type="button" class="btn btn-warning" onclick="window.location='/user/settings'">{{ user.username }}</button>
          <button type="button" class="btn btn-danger" onclick="window.location='/user/logout'">Выйти</button>
      {% endif %}
  </div>
  <h2 class="border-around">Каталоги</h2>
  <ul id="myUL">
  <!--Main tree-->
  <!--Catalog iter-->
      {% for a, b in all_catalogs %}
        <li><span class="box">{{ a }}</span>
            <ul class="nested">
            <!--Category iter-->
            {% for u in b %}
              <a href="{% url 'category_view' u.slug %}">
                <li><span>{{ u.title }}</span></li>
              </a>
            {% endfor %}
            </ul>
        </li>
      {% endfor %}
  </ul>
</div>