{% extends 'silkapp/base.html' %}
{% block content %}
{% load static %}
    <title>{{ title }}</title>
    <!--<link rel="stylesheet" href="{% static 'silkapp/style.css' %}"> -->
    <style>
        .notif-con {
            position: absolute;
            top: 50px;
            left: 0px;
            overflow: scroll;
        }
        .notif-wrap {
            display: block;
            position: relative;
            width: 400px;
            height: 70px;
            padding: 10px;
            margin-top: 15px;
            border: 1px solid rgb(194, 191, 191);
            border-radius: 5px;
        }
        .notif-text {
        }
        .notif-chat {
            position: absolute;
            right: 10px;
            top: 10px;
        }

        @media screen and (max-width: 900px) { 
            .notif-wrap {
                display: block;
                position: relative;
                width: 100%;
                height: 70px;
                padding: 10px;
                margin-top: 15px;
                border: 1px solid rgb(194, 191, 191);
                border-radius: 5px;
            }
        }

    </style>
</head>
<body>

    <div class="all">
        <!--head menu-->
        {% include 'silkapp/head.html' %}
        <!--head menu-->

        <!--left menu-->
        {% include 'silkapp/leftmenu.html' %}
        <!--left menu-->

        <div class="top-panel pt-root" style="margin-top: 25px;">
            <!--Links
            <div>
                <a href="{% url 'settings' %}" class="nav-link active" aria-current="page">
                Профиль
                <a href="{% url 'notifications' %}" class="nav-link link-dark" aria-current="page">
                Уведомления
                </a>
                <a href="{% url 'goods' %}" class="nav-link link-dark">
                Мои товары
                </a>
                <a href="{% url 'bids' %}" class="nav-link link-dark">
                Мои заявки
                </a>
                <a href="{% url 'chatview' %}" class="nav-link link-dark">
                Чаты
                </a>
            </div>
            -->

            <!--right block-->
            <div style="
                position: absolute;
                left: 25px;
                top: 0px;
                width: 60%;">
            <!--Page name-->
                <h1 class="pt-root big" style="
                    margin-bottom: 25px;
                    color: black;
                    font-weight: 600;
                    ">Уведомления
                </h1>
    
                <div class="notif-con">
                    {% for n in my_notifs %}
                    <div class="notif-wrap">
                        <div class="notif-text">{{ n.title }}</div>
                        <a href="{% url 'contact' n.initiator.username %}">
                        <button
                            type="button" class="btn btn-success notif-chat">Чат</button>
                        </a>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
            
{% endblock content %}