{% extends 'silkapp/base.html' %}
{% block content %}
{% load static %}
    <title>{{ title }}</title>
    <!--<link rel="stylesheet" href="{% static 'silkapp/style.css' %}"> -->
    <style>
        
    </style>
</head>
<body>

<div class="all">
    <!--head menu-->
    {% include 'silkapp/head.html' %}
    <!--head menu-->

    <!--left menu-->
    {% include 'silkapp/leftmenu.html' %}
    <!--left menu-->

    <div class="top-panel pt-root" style="margin-top: 25px;">
        
        <div style="
            position: absolute;
            left: 25px;
            top: 0px;
            width: 60%;">
            <h1 class="pt-root big" style="
                margin-bottom: 25px;
                color: black;
                font-weight: 600;
                ">Профиль
            </h1>
            <div> Никнейм: {{ user.username }} </div>
            <br>
            <div> Никнейм: {{ user.first_name }} </div>
            <br>
            <div> Номер телефона: {{ user.last_name }} </div>
        </div>
    </div>
    
</div>

{% endblock content %}