{% extends 'silkapp/base.html' %}
{% block content %}
{% load static %}
    <title>{{ title }}</title>
    <style>
      :root {
        --left-offset: 50px;
      }

      .quad {
        width: 480px;
        height: 430px;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        z-index: 10;
        background-color: rgb(255, 255, 255);
      }

      .sign-register {
        position: absolute;
        top: 50px;
        left: var(--left-offset);
      }
      
      .email-inp {
        position: absolute;
        top: 120px;
        left: var(--left-offset);
        width: 75%;
        font-size: 20px;
        border: none;
        border-bottom: 1px solid #999;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      
      .password-inp {
        position: absolute;
        top: 220px;
        left: var(--left-offset);
        width: 75%;
        font-size: 20px;
        border: none;
        border-bottom: 1px solid #999;
        padding-top: 10px;
        padding-bottom: 10px;
      }

      .sumbit-inp {
        position: absolute;
        bottom: var(--left-offset);
        left: var(--left-offset);
        width: 75%;
        font-size: 20px;
        border: none;
        padding-top: 10px;
        padding-bottom: 10px;
        color: white;
        background-color: #fe7200;
        border-radius: 5px;
        cursor: pointer;
      }
      
      .sumbit-inp:focus {
        outline: none;border: none;
      }

      .quad-register {
        width: 480px;
        height: 500px;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        z-index: 10;
        background-color: rgb(255, 255, 255);
      }

      .hide {
        display: none;
      }

      .pointer {
        cursor: pointer;
      }

      .reg-name {
        position: absolute;
        top: 120px;
        left: var(--left-offset);
        width: 75%;
        font-size: 20px;
        border: none;
        border-bottom: 1px solid #999;
        padding-top: 10px;
        padding-bottom: 10px;
      }

      .reg-email {
        position: absolute;
        top: 180px;
        left: var(--left-offset);
        width: 75%;
        font-size: 20px;
        border: none;
        border-bottom: 1px solid #999;
        padding-top: 10px;
        padding-bottom: 10px;
      }

      .reg-password {
        position: absolute;
        top: 240px;
        left: var(--left-offset);
        width: 75%;
        font-size: 20px;
        border: none;
        border-bottom: 1px solid #999;
        padding-top: 10px;
        padding-bottom: 10px;
      }

      .reg-phone {
        position: absolute;
        top: 300px;
        left: var(--left-offset);
        width: 75%;
        font-size: 20px;
        border: none;
        border-bottom: 1px solid #999;
        padding-top: 10px;
        padding-bottom: 10px;
      }


      @media screen and (max-width: 900px) {

        .quad {
          width: 90%;
        }

        .quad-register {
          width: 90%;
          margin-bottom: 50px;
        }

      }


    </style>
</head>
<body>

<div class="fixed-darker" id="fd"></div>

<div class="quad pt-root" id="quad-sign">
  <div class="sign-register black big">Вход / <span id="reg-but" style="color: gray;" class="pointer">Регистрация</span></div>
    <form method="post" action="{% url 'signin' %}" aria-autocomplete="none" autocomplete="off">
      {% csrf_token %}
      <input name="email" type="email" class="email-inp" placeholder="Email">
      <input name="password" type="password" name="password" class="password-inp" placeholder="Пароль">

      <button type="submit" class="sumbit-inp pt-root">Войти</button>
    </form>
</div>

<div class="quad-register pt-root hide" id="quad-reg">
  <div class="sign-register black big"><span id="sign-but" style="color: gray;" class="pointer">Вход</span> / <span>Регистрация</span></div>
    <form method="post" action="{% url 'register' %}" aria-autocomplete="none" autocomplete="off">
      {% csrf_token %}
      <input class="reg-name" type="text" name="name" placeholder="Ваше имя" required="">
      <input class="reg-email" type="email" name="email" placeholder="Email" required="">
      <input class="reg-password" type="text" name="password" placeholder="Пароль" required="">
      <input id="phone-mask" class="reg-phone" type="text" name="phone" placeholder="Номер телефона" required="">
      <button type="submit" class="sumbit-inp pt-root">Зарегистрироваться</button>
    </form>
</div>

<script>
  var phoneMask = IMask(
  document.getElementById('phone-mask'), {
      mask: '+{7}(000)000-00-00'
  });

  let regbut = document.getElementById('reg-but');
  let signbut = document.getElementById('sign-but');

  let quadsign = document.getElementById('quad-sign');
  let quadreg = document.getElementById('quad-reg');

  regbut.addEventListener('click', () => {
    quadsign.classList.add('hide');
    quadreg.classList.remove('hide');
  });

  signbut.addEventListener('click', () => {
    quadreg.classList.add('hide');
    quadsign.classList.remove('hide');
  })

</script>

{% endblock content %}